################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.venv/Lib/site-packages
/.vs
/Automation/PLEXOS/CsvToParquet/__pycache__
/Automation/PLEXOS/UploadToDataHub/__pycache__
/Automation/PLEXOS/DownloadFromDataHub/__pycache__
/Automation/PLEXOS/ParquetToCsv/__pycache__
/Automation/PLEXOS/TimeSeriesComparison/__pycache__
/Post/PLEXOS/CleanupFiles/__pycache__
/tests/__pycache__
/Post/PLEXOS/CsvToParquet/__pycache__
/Post/PLEXOS/TimeSeriesComparison/__pycache__
/Post/PLEXOS/UploadToDataHub/__pycache__
/Pre/PLEXOS/DownloadFromDataHub/__pycache__
